/* CSS reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS begin */
/* 全域設定 */
:root {
  /* customize var here */
  --main-color: #3f5d45;
  --subMain-color: #eaf0ed;
  font-family: PingFang TC Semibold;
}
a,
h1,
h2,
h3 {
  text-decoration: none;
  color: var(--main-color);
}
img {
  display: block;
}
button {
  border: 0;
  background-color: none;
}

.wrap {
  width: 1024px;
  margin: 0 auto;
}

h1 {
  padding-right: 40%;
}

menu {
  margin: 30px 42px;
  display: flex;
}

.logo a img {
  width: 211px;
}

.container {
  width: 940px;
  display: flex;
  margin: 0 auto;
}

menu ul {
  /* width: 38%; */
  display: flex;
}

menu ul li {
  margin: 12px 30px;

  font-size: 16px;

  font-weight: bolder;

  text-decoration: none;
  border-bottom: 3px solid #3f5d4500;
  cursor: pointer;
}

menu ul li:hover {
  border-bottom: 3px solid var(--main-color);
  transition: 0.2s linear;
}

menu a .trolley {
  padding: 0 4px;
  margin-left: 26px;
  margin-top: 6px;
  border-bottom: 3px solid #3f5d4500;
}

menu a .trolley:hover {
  cursor: pointer;
  border-bottom: 3px solid var(--main-color);
  transition: 0.2s linear;
}

.banner {
  margin: 0 auto;
  margin-bottom: 60px;
  height: auto;
  padding: 0 42px;
}

.menu {
  width: 300px;
  font-size: 24px;
  color: var(--main-color);
}

.menu ul li {
  line-height: 65px;
  text-align: center;
  background-color: #fff;

  border: 1px solid var(--subMain-color);
  /* cursor: pointer; */
}

.menu h2 {
  font-size: 24px;
  color: #fff;
  line-height: 65px;
  text-align: center;
  border: 1px solid var(--subMain-color);

  background-color: var(--main-color);
  cursor: pointer;
}

.menu ul li .active {
  background-color: var(--subMain-color);
}

.items ul {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
}

.item {
  margin-left: 20px;
  margin-bottom: 20px;
  outline: 1px solid var(--subMain-color);
  color: var(--main-color);
}

.pic {
  position: relative;
}

.star {
  background-color: var(--main-color);
  color: var(--subMain-color);

  position: absolute;
  top: 0;
  left: 20px;
  writing-mode: vertical-lr;
  letter-spacing: 4px;
  padding: 10px;
}

.heart {
  position: absolute;
  top: 19px;
  right: 22px;
}

.product-detail {
  display: flex;
  text-align: center;
  border: 1px solid var(--subMain-color);
  color: var(--main-color);
  font-size: 20px;
  line-height: 28px;
}

.product-name {
  flex: 1;
  /* 不使用左右 padding，增加文字空間 */
  padding: 14px 0;
  border-right: 1px solid var(--subMain-color);
}

.product-price {
  font-weight: bold;
  /* 給予固定寬度，避免文字增加時推擠到空間 */
  width: 127px;
  padding: 14px 0;
}

.add {
  background-color: var(--subMain-color);
  padding: 16px 90px;
  font-size: 24px;
  font-weight: bolder;
}

.pages {
  display: flex;
  justify-content: flex-end;
}

.pages ul {
  width: auto;
  display: flex;
  margin: 30px 0;
  /* cursor: pointer; */
}

.pages a img {
  margin: 13px 0;
  padding: 15px 19px;
  outline: 1px solid var(--subMain-color);
}

.pages ul li a {
  font-size: 20px;
  padding: 16px 26px;
  outline: 1px solid var(--subMain-color);
}

.pages ul .active {
  color: var(--subMain-color);
  background-color: var(--main-color);
}
