* {
  margin: 0;
  padding: 0;
  --font-color: #3f5d45;
}

ol,
ul,
li {
  list-style: none;
}

.wrap {
  width: 1024px;
  margin: 0 auto;
}

header {
  height: 100px;
  display: flex;
  justify-content: center;
  outline: 1px solid #333;
}

menu {
  height: 40px;
  width: 92%;
  margin: 30px 42px;
  outline: 1px solid #333;
  display: flex;
  justify-content: space-between;
}

.logo > a > img {
  width: 211px;
}

.container {
  width: 940px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

menu ＞　ul {
  width: 38%;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
}

menu > 　ul > li {
  font-size: 16px;
  font-family: PingFang TC Semibold;
  font-weight: 900;
  /* text-shadow: 0.02em 0.02em #3f5d45; */
  color: var(--font-color);

  border-bottom: 3px solid #3f5d4500;
  cursor: pointer;
}

menu > ul > li:hover {
  border-bottom: 3px solid var(--font-color);
  transition: 0.3s linear;
}

menu > ul > li :nth-child(4) {
  padding: 8px 8px 5px 8px;
  margin-left: 10%;
  height: 24px;
  width: 24px;
}

.banner {
  margin: 0 auto;
  width: 91%;
  height: auto;
}

.menu {
  width: 300px;
}

.menu > ul > li {
  font-size: 24px;
  color: var(--font-color);
  line-height: 65px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #eaf0ed;
}

.menu > ul > li:nth-child(1) {
  background-color: var(--font-color);
  color: #fff;
}

.menu > ul > li:nth-child(2) {
  background-color: #eaf0ed;
}

.section {
  width: 640px;
}

.items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  outline: 1px solid #333;
}

.item {
  margin: 0 0 20px 20px;
  width: 300px;
  height: 436px;
  outline: 1px solid #333;
}

.item > div:nth-child(1) {
  width: 300px;
  height: 385px;
}

.item > div:nth-child(1) > img {
  width: 300px;
  height: 385px;
}
