* {
  margin: 0;
  padding: 0;
  --main-color: #3f5d45;
  --subMain-color: #eaf0ed;
}

ol,
ul,
li {
  list-style: none;
}

.wrap {
  width: 1024px;
  margin: 0 auto;
}

header {
  height: 100px;
  display: flex;
  justify-content: center;
  /* outline: 1px solid #333; */
}

menu {
  height: 40px;
  width: 92%;
  margin: 30px 42px;
  /* outline: 1px solid #333; */
  display: flex;
  justify-content: space-between;
}

.logo > a > img {
  width: 211px;
}

.container {
  width: 940px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

menu > ul {
  width: 38%;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
}

menu > ul > li {
  font-size: 16px;
  font-family: PingFang TC Semibold;
  font-weight: 900;
  /* text-shadow: 0.02em 0.02em #3f5d45; */
  color: var(--main-color);

  border-bottom: 3px solid #3f5d4500;
  cursor: pointer;
}

menu > ul > li:hover {
  border-bottom: 3px solid var(--main-color);
  transition: 0.3s linear;
}

menu > ul > li :nth-child(4) {
  padding: 8px 8px 5px 8px;
  margin-left: 10%;
  height: 24px;
  width: 24px;
}

.banner {
  margin: 0 auto;
  margin-bottom: 60px;
  width: 91%;
  height: auto;
  /* outline: 1px solid #333; */
}

.menu {
  width: 300px;
}

.menu > ul > li {
  font-size: 24px;
  color: var(--main-color);
  line-height: 65px;
  text-align: center;
  background-color: #fff;
  border: 1px solid var(--subMain-color);
  cursor: pointer;
}

.menu > ul > li:nth-child(1) {
  background-color: var(--main-color);
  color: #fff;
}

.menu > ul > li:nth-child(2) {
  background-color: var(--subMain-color);
}

.section {
  position: relative;
}

.items > ul {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  flex-direction: row;
}

.item {
  width: 300px;
  height: 436px;
  margin-left: 20px;
  margin-bottom: 20px;
  outline: 1px solid var(--subMain-color);

  /* outline: 1px solid #333; */
  color: var(--main-color);
  display: flex;
  flex-wrap: wrap;
}

.pic {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
}

.star {
  width: 36px;
  height: 106.73px;
  background-color: var(--main-color);
  color: var(--subMain-color);

  position: absolute;
  top: 0;
  left: 20px;
  text-align: center;
  writing-mode: vertical-lr;
  line-height: 36px;
  letter-spacing: 4px;
}

.heart {
  position: absolute;
  top: 19px;
  right: 22px;
}

.name {
  width: 172px;
  height: 56px;
  text-align: center;
  line-height: 56px;
}

.price {
  width: 126px;
  height: 56px;
  text-align: center;
  line-height: 56px;
  border-left: 1px solid var(--subMain-color);
}

.add {
  background-color: var(--subMain-color);
  width: 300px;
  height: 65px;
  text-align: center;
  line-height: 65px;
}

.pages {
  margin: 20px 0;
  position: absolute;
  right: 0;
}

.pages > ul {
  width: auto;
  display: flex;
  margin-bottom: 50px;
  cursor: pointer;
}

.pages > ul > li {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  outline: 1px solid var(--subMain-color);
}

.pages > ul > .active {
  color: var(--subMain-color);
  background-color: var(--main-color);
}
